.gameoverscreen {
  position: absolute; /* Absolute positioning within the game container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1001; /* Ensure it lays on top of the game */
  color: white;
  font-size: 18px;
}

.gameoverimg {
  width: 20em;
  height: 20em;
  animation: scaleUp 0.5s ease-out forwards;
}

/* Animation keyframes for scaling effect */
@keyframes scaleUp {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  50% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

/* Applying animation to the smiley */
.animatedimg {
  animation: scaleUp 0.5s ease-out forwards; /* Adjust timing and easing as needed */
}

.resetbutton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: inherit;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #3c6ec5;
  color: rgb(255, 255, 255);
  transition: background-color 0.2s ease-in-out;
}

.resetbutton:hover {
  background-color: #2600ff;
}

.scorePanel {
  font-size: 60pt;
  font-weight: bold;
}
