html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.App {
  text-align: center;
}

.App-body {
  background-color: #d5e9ff;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 34em;
}

.App-link {
  color: #61dafb;
}

.game-container {
  position: relative; /* The parent of the game and the overlay screen */
  width: 100%;
  height: 100%;
  margin-top: 1em;
}
